html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}


#map {
	width: 100% ;
	height: 100% ;
}


#result_lists {
	width: 50% ;
	height: 75% ;
	margin: 0 auto;
}

.br:before {
	content: "\A" ;
	white-space: pre ;
}
